#app/logs/*.log
app/cache/metadata/*
app/cache/views/*
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
.gitignore
*.log