.stat-id-input-field {
	width:50px;
}

.stat-row-checkbox-td {
	width:25px;
}

.stat-id-td {
	width:50px;
}

.stat-active-td {
	width:50px;
}

.stat-operations-td {
	width:120px;
}

.stat-pager {
	margin-top: 0;
	margin-bottom: 0;
}

/* Уведомления. Заголовок */
.alert > [data-notify="title"] {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert, [data-notify="container"] {
	padding: 5px;
	font-size: 90%;
}


/* Тестирование */

/* Spinner */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.LockOff { 
	  display: none; 
	  visibility: hidden; 
   } 

.LockOn { 
  display: block; 
  visibility: visible; 
  position: absolute; 
  z-index: 999; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
  background-color: #ccc; 
  text-align: center; 
  padding-top: 20%; 
  filter: alpha(opacity=75); 
  opacity: 0.75; 
} 